@import './variables.scss';

.action-bar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: white;

    & .action-bar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        max-width: 100%;
        padding: 0.5rem 1rem;

        &>textarea {
            border: none;
            padding: 0.3rem;
            resize: none;
            height: auto;
            width: 100%;
            max-width: 100%;
            background: none;
            font-size: $text-sizes-text-regular-s;
            letter-spacing: $letter-spacing-regular;
        }

        & .send {
            &:hover {
                color: blue;
            }
        }

        & .btn-container {
            display: flex;
            align-items: end;
            // height: 100%;
        }

        .emoji-picker-container {
            position: absolute;

            &.d-none {
                display: none;
            }
        }
    }

    & .replied-message-wrapper {
        width: 100%;
        padding: 0.5rem 0.5rem 0.2rem;

        &.d-none {
            display: none;
        }
    }

    & .replied-message-container {
        width: 100%;
        padding: 0.3rem 0.5rem;
        border-radius: 10px;
        background-color: #eaedf0;
        position: relative;
        overflow: hidden;
        width: 0px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        & .reply-message-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            max-width: 100%;
            display: inline-block;
            font-size: $text-sizes-text-regular-s;
        }

        & .close {
            position: absolute;
            right: 5px;
            top: 5px;
            border: none;
            background: none;
            color: grey;
        }


    }

}