@import './variables.scss';

.cancelled-file-message-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .file-info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    & .file-name {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .cancelled {
        font-size: $text-sizes-text-regular-s;
    }
}