@import './global.scss';

.chat-navbar-container{
    width: 100%;
    max-width: 100%;
}
.main {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    & .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: auto;
    }

    & .action-container {
        display: none;

        @include desktop {
            display: initial;
        }
    }

    & .btn-back {

        @include notMobile {
            display: none;
        }
    }
}