.chat-list-tab-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .navgigation-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
    }
}