.chat-members-container {
    position: relative,
}

.btn-container {
    padding: 1rem, ;
}

.btn.add-member {
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;

}

.members-container {
    padding-top: 1rem;
}