.error-message-file-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .image {
        max-width: 3rem;
        max-width: 3rem;
    }

    & .text-container {
        display: flex;
        flex-direction: column;
    }
}