@import './global.scss';

.homepage-container {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    @include notMobile {
        display: flex;
        flex-direction: row;
    }

}

.chat-container {
    height: 100%;
    display: flex;
    position: relative;
    max-width: 100%;

    &.d-none {
        display: none;

        @include notMobile {
            display: initial;
        }
    }

    @include notMobile {
        max-width: 100%;
        overflow: hidden;
        flex: 1;
    }

}