@import './global.scss';
@import './variables.scss';

.replied-message-container {
    overflow: hidden;
    position: relative;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include desktop {
        max-width: 35rem;
    }

    & .replied-message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-width: 100%;
    }

    &::before {
        content: '';
        top: 4px;
        width: 2px;
        height: 90%;
        background: #3989ff;
        position: absolute;
        left: 0px;
    }

    & .audio-message-container {
        display: flex;
        font-size: $text-sizes-text-regular-ss;
        gap: 0.5rem;
    }

    &.d-none {
        display: none;
    }

    & .image {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

}